<div>
  <h2>What is corona virus ?</h2>
<p>Corona viruses are a large family of viruses which may cause illness
in animals or humans. In humans, several coronaviruses are known
to cause respiratory infections ranging from the common cold to more
severe diseases such as Middle East Respiratory Syndrome (MERS)
and Severe Acute Respiratory Syndrome (SARS).<br> The most recently
discovered coronavirus causes coronavirus disease COVID-19. 
</p>

<h2>What is COVID-19 ?</h2>
<p>COVID-19 is the infectious disease caused by the most recently
discovered corona virus. This new virus and disease were unknown
before the outbreak began in Wuhan, China, in December 2019. 
</p>

<h2>What are the symptoms of COVID-19 ?</h2>
<p>The most common symptoms of COVID-19 are fever, tiredness, and
dry cough. Some patients may have aches and pains, nasal
congestion, runny nose, sore throat or diarrhea. These symptoms are
usually mild and begin gradually. Some people become infected but
don’t develop any symptoms and don't feel unwell. Most people
(about 80%) recover from the disease without needing special
treatment. Around 1 out of every 6 people who gets COVID-19
becomes seriously ill and develops difficulty breathing. Older people,
and those with underlying medical problems like high blood pressure,
heart problems or diabetes, are more likely to develop serious illness.
People with fever, cough and difficulty breathing should seek medical
attention. </p>

<h2>How does COVID-19 spread</h2>
<p>People can catch COVID-19 from others who have the virus. The
disease can spread from person to person through small droplets from
the nose or mouth which are spread when a person with COVID-19
coughs or exhales. These droplets land on objects and surfaces
around the person. Other people then catch COVID-19 by touching
these objects or surfaces, then touching their eyes, nose or mouth.
People can also catch COVID-19 if they breathe in droplets from a
person with COVID-19 who coughs out or exhales droplets. This is
why it is important to stay more than 1 meter (3 feet) away from a
person who is sick.</p>

<h2>Can the virus that causes COVID-19 be transmitted through the air? </h2>
<p>Studies to date suggest that the virus that causes COVID-19 is mainly
transmitted through contact with respiratory droplets rather than
through the air. See previous answer on “How does COVID-19
spread?”</p>

<h2>Can CoVID-19 be caught from a person who has no symptoms? 
</h2>
<p>The main way the disease spreads is through respiratory droplets
expelled by someone who is coughing. The risk of catching COVID-19
from someone with no symptoms at all is very low. However, many
people with COVID-19 experience only mild symptoms. This is
particularly true at the early stages of the disease. It is therefore
possible to catch COVID-19 from someone who has, for example, just
a mild cough and does not feel ill. </p>


<h2>Can I catch COVID-19 from the feces of someone with the disease? 
</h2>
<p>The risk of catching COVID-19 from the feces of an infected person
appears to be low. While initial investigations suggest the virus may
be present in feces in some cases, spread through this route is not a main feature of the outbreak. The ongoing research on the ways
COVID-19 is spread and will continue to share new findings. Because
this is a risk, however, it is another reason to clean hands regularly,
after using the bathroom and before eating. 
 </p>

 <h3>Protection measures for everyone 
</h3>
<p>Stay aware of the latest information on the COVID-19 outbreak,
available on the national,state and local public health authority. Many
countries around the world have seen cases of COVID-19 and several
have seen outbreaks. Authorities in China and some other countries
have succeeded in slowing or stopping their outbreaks. However, the
situation is unpredictable so check regularly for the latest news.
You can reduce your chances of being infected or spreading COVID19 by taking some simple precautions: 
</p>
<div>
<ul>
	<li>Regularly and thoroughly clean your hands with an alcoholbased hand rub or wash them with soap and water.
Why? Washing your hands with soap and water or using
alcohol-based hand rub kills viruses that may be on your hands. </li>
<li>Maintain at least 1 metre (3 feet) distance between yourself and
anyone who is coughing or sneezing.
Why? When someone coughs or sneezes they spray small liquid
droplets from their nose or mouth which may contain virus. If you
are too close, you can breathe in the droplets, including the
COVID-19 virus if the person coughing has the disease. 
</li>
<li>Avoid touching eyes, nose and mouth.
Why? Hands touch many surfaces and can pick up viruses.
Once contaminated, hands can transfer the virus to your eyes,
nose or mouth. From there, the virus can enter your body and
can make you sick. </li>

<li>Make sure you, and the people around you, follow good
respiratory hygiene. This means covering your mouth and nose
with your bent elbow or tissue when you cough or sneeze. Then dispose of the used tissue immediately.
Why? Droplets spread virus. By following good respiratory
hygiene you protect the people around you from viruses such as
cold, flu and COVID-19. 
</li>
<li>
  Stay home if you feel unwell. If you have a fever, cough and
difficulty breathing, seek medical attention and call in advance.
Follow the directions of your local health authority.
Why? National and local authorities will have the most up to date
information on the situation in your area. Calling in advance will
allow your health care provider to quickly direct you to the right
health facility. This will also protect you and help prevent spread
of viruses and other infections.
</li>
<li>
  Keep up to date on the latest COVID-19 hotspots (cities or local
areas where COVID-19 is spreading widely). If possible, avoid
traveling to places – especially if you are an older person or
have diabetes, heart or lung disease.
Why? You have a higher chance of catching COVID-19 in one of
these areas. 
</li>
</ul>
</div>

<h1>Protection measures for persons who are in or have recently visited (past
14 days) areas where COVID-19 is spreading 
</h1>
<ul>
	<li>Follow the guidance outlined above (Protection measures for
everyone) </li>
<li> Self-isolate by staying at home if you begin to feel unwell, even
with mild symptoms such as headache, low grade fever (37.3 C
or above) and slight runny nose, until you recover. If it is
essential for you to have someone bring you supplies or to go
out, e.g. to buy food, then wear a mask to avoid infecting other
people.
Why? Avoiding contact with others and visits to medical facilities
will allow these facilities to operate more effectively and help
protect you and others from possible COVID-19 and other
viruses.</li>
<li> If you develop fever, cough and difficulty breathing, seek
medical advice promptly as this may be due to a respiratory
infection or other serious condition. Call in advance and tell your
provider of any recent travel or contact with travelers.
Why? Calling in advance will allow your health care provider to
quickly direct you to the right health facility. This will also help to
prevent possible spread of COVID-19 and other viruses. </li>
</ul>

<h2>Are antibiotics effective in preventing or treating the COVID-19?
</h2>
<p>No. Antibiotics do not work against viruses, they only work on
bacterial infections. COVID-19 is caused by a virus, so antibiotics do
not work. Antibiotics should not be used as a means of prevention or
treatment of COVID-19. They should only be used as directed by a
physician to treat a bacterial infection. 
</p>

<h2>Is there a vaccine drug or treatment for COVID-19
</h2>
<p>Not yet. To date, there is no vaccine and no specific antiviral medicine
to prevent or treat COVID-2019. However, those affected should
receive care to relieve symptoms. People with serious illness should
be hospitalized. Most patients recover thanks to supportive care.
</p>
<p>Possible vaccines and some specific drug treatments are under
investigation. They are being tested through clinical trials.
</p>
<p>
The most effective ways to protect yourself and others against
COVID-19 are to frequently clean your hands, cover your cough with
the bend of elbow or tissue, and maintain a distance of at least 1
meter (3 feet) from people who are coughing or sneezing  </p>

<h2>How long is the incubation period for COVID-19?
</h2>
<p>The “incubation period” means the time between catching the virus
and beginning to have symptoms of the disease. Most estimates of
the incubation period for COVID-19 range from 1-14 days, most
commonly around five days. These estimates will be updated as more
data become available. </p>
</div>
<img src="https://raw.githubusercontent.com/u4saif/Corona-Virus-Dashboard-COVID19-/master/in.png" alt="in" >

<h3>जय हिन्द !</h3>