 <div id="header">
        <h1>{{data}}<a href="https://api.whatsapp.com/send?phone=918800007722"><img src="https://raw.githubusercontent.com/u4saif/Corona-Virus-Dashboard-COVID19-/master/whatsapp.png" /></a></h1>
</div>


<body>

<div class='container'>  

   <div class="app-title" ><p>Day {{finddate1}}</p></div>
       
   <div class="description">
     <div><img class="co" src="{{icon}}" alt="icon"  ></div> 
                     <p>
                      Total Reported: <span>{{update.confirmed}} ✍🏻</span><br>
               Under Observation: <span>{{update.active}} 🤒</span><br>
                      Discharged People: <span>{{update.recovered}}✔️ </span><br>
                      Deaths: <span>{{update.deaths}} 😰</span></p></div>
        <div class="copyright">
          <p>Updated @ {{update.lastupdatedtime}} <br>
           Suggestions are appreciated <br> <span>📧:  u4saif@gmail.com</span></p></div>
</div>
</body>
 